{% extends 'event/index.html' %}
{% load static %}

{% block contenue %}
    <div class="containerInfo">
        <h1 class="title2">FAQ</h1>
        <div id="stripped2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 1062">
                <polyline points="0,154 131,0 0,348 269,0 0,562 437,0 
                0,766 565,14 0,1062 719,0 289,1062 843,0 543,1062 995,0 729,1062 1161,0 947,1062 1307,0 1143,1062 1500,162 1299,1062 1500,830"/>
            </svg>
        </div>
        <div class="info_detail">
            <p class="p_detail"><br>Q. Où est situé le Zenith du Tiers monde ?<br/></p>
            <div id="traitBas"></div>
            <p class="p_detail">Le Zenith est idéalement situé là où les forces de l'ordre de le sont pas, pour vous permettre une immersion et un spectacle total.</p>
        </div>
        <div class="info_detail">
            <p class="p_detail"><br>Q. Un parking est-il a disposition ?<br/></p>
            <div id="traitBas"></div>
            <p class="p_detail">Le parking dispose d'autant de places que neccessaire. En cas contraire, les rues adjancentes disposent de places supplémentaires sous réserve de bonne entente avec le voisinnage</p>
        </div>
        <div class="info_detail">
            <p class="p_detail"><br>Q. Les heures d'ouvertures ?<br/></p>
            <div id="traitBas"></div>
            <p class="p_detail">Le Zenith ouvre généralement 2h maximum avant le début du spectacle ou de la conférence. Temps d'évacuation maximale estimé à 1h30 entre le premier et le dernier véhicule. (Estimation global en fonction de l'état physique et neurologique de chaque participant)</p>
        </div>
        <div class="info_detail">
            <p class="p_detail"><br>Q. Un accès enfant est t-il à disposition ?<br/></p>
            <div id="traitBas"></div>
            <p class="p_detail">Concernant l'accès des enfants, il vous sera demandé de signer une décharge de renonciation en recours lié à l'impact des nuisances sonores et des effets psychotropes sur votre enfant.</p>
        </div>
        <div class="info_detail">
            <p class="p_detail"><br>Q. Et concernant les animaux ?<br/></p>
            <div id="traitBas"></div>
            <p class="p_detail">Les animaux sont interdits en salle, seuls les chiens-guides d'aveugles sont tolérés sous preuve de réelle cécité</p>
        </div>
        <div class="info_detail">
            <p class="p_detail"><br>Q. Billet perdu ou volé ?<br/></p>
            <div id="traitBas"></div>
            <p class="p_detail">Les billets perdus ne sont ni échangeables, ni remboursables. Pour ceux volés, ils peuvent être remboursés sous preuve indéniable du vol.</p>
        </div>
        <div class="info_detail">
            <p class="p_detail"><br>Q. Je ne peux pas venir<br/></p>
            <div id="traitBas"></div>
            <p class="p_detail">Les billets sont ni repris ni échangés, il fallait mieux s'organiser.</p>
            </div>
    </div>
{% endblock %}
        
