
{% extends 'event/index.html' %}
{% load static %}

    {% block contenue %}
    <div class="containerInfo">
        <h1 class="title2">Informations</h1>
        <div id="stripped2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 1062">
                <polyline points="0,154 131,0 0,348 269,0 0,562 437,0 
                0,766 565,14 0,1062 719,0 289,1062 843,0 543,1062 995,0 729,1062 1161,0 947,1062 1307,0 1143,1062 1500,162 1299,1062 1500,830"/>
            </svg>
        </div>

        <h1 class="title">Informations</h1>
        <h3 class="title2">Reports et annulations</h3>
        <div class="info_detail">
            <p class="p_detail">A la suite des mesures gouvernementales successives adoptées pour lutter contre la propagation du COVID-19, les événements prévus au Zénith du Tiers Monde depuis le mois de mars 2020 sont impactés. Nous vous invitons à consulter régulièrement cette page mise à jour en temps réel avec les dernières informations connues et transmises par les producteurs de spectacle.
            Les billets restent valables pour la date de report, sans aucune démarche à effectuer. Le placement indiqué sur le billet de la date initiale reste inchangé pour la date de report.
            Les personnes ne pouvant se rendre à l'événement reporté, sont invitées à s'adresser à leur point de vente pour effectuer une demande de remboursement conformément aux conditions générales de vente.
            Calendrier des dates reportées/annulées consultable par ICI
            A partir du 14 mars 2022, le Zénith du Tiers Monde n'est plus soumis au contrôle du pass sanitaire, et le port du masque n'est plus obligatoire.
            Du gel hydroalcolique est mis à disposition des spectateurs, que nous invitons à respecter les gestes barrières et règles d'hygiène.</p>
        </div>
            
        <h2 class="title2">Billetterie</h2>
        <div class="info_detail">
            <p class="p_detail">Le Zénith du Tiers Monde n'est pas point de vente billetterie. Le guichet du Zénith du Tiers Monde n'est ouvert que certains soirs de spectacle et tenu par les Producteurs détenteurs de leur billetterie. Le guichet se situe sur l'aile gauche du Zénith du Tiers Monde.
            Il convient d’être très vigilant sur les conditions d'achat des billets. Sur chaque fiche spectacle de notre site internet, il vous est proposé de réserver en ligne avec notre partenaire Ticketmaster ou avec les organisateurs de spectacle qui proposent leur propre billetterie et qui gèrent la plateforme PMR. ATTENTION aux sites frauduleux qui revendent des billets à des prix exorbitants (au-delà de leur vraie valeur), des billets contrefaits, ou même des duplicatas du même billet revendus plusieurs fois. Pour la majorité des spectacles, vous pouvez également trouver des billets dans les points de ventes habituels : Auchan, Carrefour, Cultura, E.Leclerc, Fnac…
            Billet EARLY ACCESS : Placement en fosse debout, accès 30 minutes avant l’ouverture des portes, priorité non garantie au-delà.
            En cas d'annulation ou de report de la manifestation, les modalités de remboursement du billet seront définies par l'organisateur / producteur de l'évènement. Le Zénith du Tiers Monde ne peut en aucun cas être tenu pour responsable du remboursement du billet, qui reste à la charge de l'organisateur de la manifestation.
            Les billets gagnés par jeux concours via les médias (radio, presse, etc.) sont à retirer au guichet billetterie du Zénith du Tiers Monde le jour de la manifestation (à partir d'1h30 avant le début du spectacle), sur présentation d'une carte d'identité.
            Les billets achetés sur le site Groupon ainsi que via l'appli Pass Culture, sont à retirer au guichet le jour de la manifestation (ouvert dès l'ouverture des portes 1h30 avant le début du spectacle) en échange du bon Groupon / du mail de confirmation et d'une pièce d'identité.</p>
        </div>
            
        <h2 class="title2">A l'intérieur du Zénith du Tiers Monde </h2>
        <div class="info_detail">
            <p class="p_detail">Ne peuvent entrer au Zénith du Tiers Monde que les personnes munies d’un billet ou d’une invitation valable pour une représentation donnée.
            Toute sortie est définitive.
            Aucun distributeur ne permet le retrait d’argent liquide à l’intérieur du Zénith du Tiers Monde.
            Bars et restauration rapide : plusieurs bars sont à disposition du public et proposent boissons fraiches, cafés, sandwichs, hot-dog… De plus, Pik'n'Mix propose un choix de bonbons et des gaufres. 
            Il n’existe pas de consigne ni de vestiaire à l’intérieur du Zénith du Tiers Monde. A l’exception des casques de motocyclistes, qui sont conservés en consigne dès l’entrée sur site, et restitués à leur propriétaire à la fin du spectacle.
            Tout appareil photo est interdit dans l'enceinte du Zénith du Tiers Monde.</p>
        </div>
            
        <h2 class="title2">Contrôle de sécurité</h2>
        <div class="info_detail">
            <p class="p_detail">Dans le cadre de l'activation du Plan Vigipirate, la vérification du contenu des sacs est systématique et obligatoire à l'entrée du site.
            Il est interdit d'entrer au Zénith du Tiers Monde avec des appareils photos, d'enregistrement sonore et/ou audiovisuel. Pour des raisons de sécurité, il est formellement interdit d'introduire dans le site, des armes, substances explosives, des bouteilles en verre (seules les bouteilles en plastique de 50 cl maximum sans bouchon sont autorisées) et, d'une manière générale, tout objet susceptible de servir de projectile. Il est également interdit d'introduire, dans le site, tout objet dangereux et tout article pyrotechnique, des signes et banderoles de toute taille de nature politique, idéologique, religieuse ou publicitaire. Les objets interdits (non dangereux) pourront être mis en consigne. Les sacs à dos de plus de 10L sont interdits.
            Les gourdes et les casques sont consignés.</p>
        </div>
            
        <h2 class="title2">Règlement intérieur et objets perdus</h2>
        <div class="info_detail">
            <p class="p_detail">Le public est soumis à un règlement intérieur qui précise ses droits et devoirs dès lors qu’il pénètre dans l’enceinte du Zénith du Tiers Monde. Ce document est consultable et téléchargeable ici.
            Selon les termes du décret n° 2006-1386, il est rigoureusement interdit de fumer dans l’enceinte du Zénith du Tiers Monde. Un espace extérieur communiquant avec le hall est toutefois mis à la disposition des fumeurs.
            Objets perdus : merci de nous le signaler à contact@zenith-tm.com en indiquant la nature de l’objet et la date de la manifestation.</p>
        </div>
    
        <a class="fancy-btn" href="{% url 'event:index' %}">Accueil</a>
    </div>
    {% endblock %}
